html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  white-space: nowrap;
  color: #333;
  margin-bottom: 20px;
  font-size: 40pt;
}
#display {
  white-space: nowrap;
  color: #333;
  margin-bottom: 20px;
  color: rgb(245, 8, 8);
  font-size: 24pt;
}

.drum-machine-app {
 max-width: 800px;
 width: 100%;
 padding: 0 20px;
}


.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.drum-pad {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  opacity: 1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.drum-pad.pressed {
  background-color: #ccc;
  transform: scale(0.95);
  opacity: 0.8;
  box-shadow: none;
}

.drum-pad, .drum-pad.pressed {
  transition: all 0.2s ease;
}

.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



